body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h2 , h1{
  margin: 0px ;
}

html {
  scroll-behavior: smooth;
}
.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #637bc0;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover:not(.active) {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #000000;
  font-weight: 700;
}

.navbar .icon {
  display: none;
}

/*responsive*/

.top {
  width: 80%;
  margin: 0  auto;
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  padding: 5% 2% 0% 2%;
  gap: 2%;
}


.text {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  width: 60%;
  border-radius: 50px;
}

.content{
  width: 80%;
  margin: 2% auto;

}
.navbar .search-container button:hover {
  color: #000000;
}

h3{
  margin: 0;
  font-size: 45px;
  color: rgb(46, 0, 253);
  font-weight: 700;
}

iframe{

  display: block;
  margin: 0 auto;
  width: 50%;
  height: 800px;
 
}



.footer {
  width: 100%;
  height: 25%;
  background-color: #637bc0;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.footer p {
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

.extrenelink{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: #000;
}

.extrenelink img{
  margin: 1% 0%;
  padding: 2%;
  box-shadow: 0px 0px 2px #000;
  width: 20%;
  border-radius: 25px;
}

.extrenelink img:hover{
  box-shadow: 0px 0px 5px #000;

}

